@use '../utils/variables' as *;

.reviews {
  .swiper {
    padding-top: 116px;
    position: relative;
    width: 100%;
  }

  .navigation {
    position: absolute;
    top: 22px;
    right: -10px;
    width: 164px;

    .swiper-button-prev,
    .swiper-button-next {
      min-width: 60px;
      min-height: 60px;
      display: flex;
      padding: 20px;
      justify-content: center;
      align-items: center;
      gap: 6px;
      border-radius: 4px;
      border: 1px solid $yellow;
      background: transparent;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
  }

  .user-review {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid #a1aebf;

    &__user {
      display: flex;
      gap: 8px;
    }

    &__img {
      width: 48px;
      height: 48px;
      flex-shrink: 0;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__name {
      font-size: clamp(
        0.875rem,
        0.8446601941747572rem + 0.12944983818770225vw,
        1rem
      );
      font-weight: 700;
      line-height: 20px;
    }

    &__company {
      color: rgba(255, 255, 255, 0.6);
      font-size: clamp(
        0.875rem,
        0.8446601941747572rem + 0.12944983818770225vw,
        1rem
      );
      font-weight: 700;
      line-height: 20px;
    }

    &__text {
      font-size: clamp(
        0.875rem,
        0.8446601941747572rem + 0.12944983818770225vw,
        1rem
      );
      font-weight: 700;
      line-height: 20px;
    }
  }
}
