@use './utils/reset';
@use './utils/variables' as *;
@use './utils/fonts';

@use './blocks/header/header';

body {
  background: $black;
  font-family: Agrandir, sans-serif;
  font-weight: 700;
  color: $white;
  font-size: clamp(
    0.875rem,
    0.7736486486486487rem + 0.43243243243243246vw,
    1.125rem
  );
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}
